/*Author : Sharib Jafari*/
body {
  overflow: hidden; /*Disable Scrolling*/
  margin: 0;
  font-size: 28px;
  font-family: monospace;
}

#closeToolboxDiv {
  position: absolute;
  left: 300px;
}

#toolbox {
  position: fixed;
  width: fit-content;
  background-color: #ffffff;
  visibility: flow-root;
  text-align: left;
  border: 1px solid black;
  padding: 1px;
  top: 10px;
  left: 10px;
}

div {
  margin: 8px;
}

#chosencolor, #clearBtn, #labelForMirror {
  width: 50px;
  height: 50px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.float {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
  background-color: #0C9;
  background-image: url('settings.png');
  background-size: cover;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}
